

<div class="header">New Note:</div>
<body class="parchment notes">
<%= form_for @note do |f| %>
<%= f.text_area :text %>
<%= f.submit %>
<% end %>
<p></p>
<%= button_to "Delete", {:controller => :notes,
      :action => 'destroy', :id => @note.id}, :method => :delete %>
</body>
