<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>

<div class="container">
  <div class="gallery"></div>

  <div class=”gallery”>
  <figure class=”gallery__item gallery__item--1">
    <img src="img/image-1.jpg" class="gallery__img" alt="Image 1">
  </figure>

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

</body>


<h1>Rooms:</h1>
<ul>
  <% @rooms.each do |room| %>
<li>  <%= link_to room.name, room_path(room) %></li>
  <% end %>

</ul>
