// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.person_bod {
  background: black;
}

.room_container {
  position: absolute;
  left: 50%;
  width: 50%;
}

.room_container .row {
  text-align: center;
}

.stuff {
  width: 215px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.filling {
  margin-right: 100px;
}

.chunk {
  opacity: .5;
  float: left;
  width: 50%;
  position: absolute;
  top: -45;
}

h1 {
  color: white;
}

p {
  color: grey;
}

.text_box {
  background-color: black;
  border: 10px double grey;
  margin: 10px;
}
